.progressbar {
	@include elevate(2px, rgba(0, 0, 0, 0.5));
	background: #444;

	height: 32px;
	width: 100%;

	.progressbar-meter {
		background: $secondary-light;
		height: 32px;

		transition: width ease-in-out 1s;
	}

	.progressbar-labels {
		position: relative;
		width: 100%;

		* {
			position: absolute;
		}

		:first-child { top: -20px; left: 0; }
		:last-child { top: -20px; right: 0; }
	}
}

.leaderboard {
    @include elevate(2px, rgba(0, 0, 0, 0.5));

    text-align: center;
    font-size: 1.2rem;

	position: relative;

    .placement, .placement-labels {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;

        display: grid;
        grid-template-columns: 1fr 7fr 10fr 3fr;

        .problem { display: grid; }
    }

    .placement-labels {
        background: $primary;
        font-size: 1.4rem;
        padding: 4px;
    }

    .placement {
		transition: all 750ms ease-in-out;

        padding: 0 4px;
        &:nth-child(even) { background: $primary-dark; }
        &:nth-child(odd)  { background: darken($primary-dark, 20); }

		&.user { background: $secondary-light; color: black }

        line-height: 36px;

        :first-child { font-size: 1.2rem; }

        .problem > div {
            padding: 4px;

            & :first-child { font-size: 1.2rem; }
            & :last-child { font-size: .8rem; }

            line-height: 18px;

            &.correct { background: $test-case-good; color: #000000; }
            &.wrong   { background: $test-case-bad;  color: #000000; }
            &.attempted { background: #999999; color: #000000; }
        }
    }
}
