%content, .content {
	width: 100%;
	padding: 10px 10%;
}

.right {
	float: right;
}

.left {
	float: left;
}

.hidden {
	visibility: hidden;
}

a {
	text-decoration: none;
	color: inherit;
}

@for $i from 2 to 7 {
	.split-#{$i} {
		display: grid;
		grid-template-columns: repeat(#{$i}, 1fr);

		@if ($i == 2) {
			& > *:first-child {
				margin-right: 12px;
			}

			& > *:last-child {
				margin-left: 12px;
			}
		}
	}
}

.split-lr {
	display: grid;
	grid-template-columns: 1fr 1fr;

	> * {
		&:first-child {
			text-align: left;
		}

		&:last-child {
			text-align: right;
		}
	}
}

@for $i from 1 to 6 {
	@for $j from 1 to 6 {
		.split-#{$i}-#{$j} {
			display: grid;
			grid-template-columns: #{$i}fr #{$j}fr;
		}
	}
}

pre {
	@include elevate(2px, rgba(0, 0, 0, 0.5));
	font-size: 1rem;

	.hljs-ln {
		td {
			//Bit of space between line numbers and code
			padding-right: 8px;
		}
	}

	.hljs-ln-line {
		//THIS SHOULD BE PUT IN A PULL REQUEST TO THE HLJS REPO
		//This prevents the line from bleeding out of the container
		max-width: 200px !important;
	}
}

.fixed-half-split {
	display: grid;
	grid-template-columns: 275px 1fr;
}

.tabbed-split {
	display: grid !important;

	&.tab-12 { grid-template-columns: 12px 1fr; }
	&.tab-16 { grid-template-columns: 16px 1fr; }
	&.tab-24 { grid-template-columns: 24px 1fr; }
	&.tab-32 { grid-template-columns: 32px 1fr; }
	&.tab-48 { grid-template-columns: 48px 1fr; }
	&.tab-64 { grid-template-columns: 64px 1fr; }

	&.primary { & > span { background-color: $primary; } }
	&.primary-light { & > span { background-color: $primary-light; } }
	&.primary-dark { & > span { background-color: $primary-dark; } }

	&.secondary { & > span { background-color: $secondary; } }
	&.secondary-light { & > span { background-color: $secondary-light; } }
	&.secondary-dark { & > span { background-color: $secondary-dark; } }

	&.success { & > span { background-color: #00ff00; } }

	&.error { & > span { background-color: $error; } }
	&.error-light { & > span { background-color: $error-light; } }
	&.error-dark { & > span { background-color: $error-dark; } }
}

.box {
	@include elevate(2px, rgba(0, 0, 0, 0.5));
	background-color: #111;

	.highlight:hover {
		background-color: #333;
	}
}

.w50 {
	width: 50%;
}

.w100 {
	width: 100%;
}

@for $i from 1 to 50 {
	.pad-#{$i} { padding: #{$i}px !important; }
	.pad-l-#{$i} { padding-left: #{$i}px !important; }
	.pad-r-#{$i} { padding-right: #{$i}px !important; }
	.pad-t-#{$i} { padding-top: #{$i}px !important; }
	.pad-b-#{$i} { padding-bottom: #{$i}px !important; }

	.mar-#{$i} { margin: #{$i}px !important; }
	.mar-l-#{$i} { margin-left: #{$i}px !important; }
	.mar-r-#{$i} { margin-right: #{$i}px !important; }
	.mar-t-#{$i} { margin-top: #{$i}px !important; }
	.mar-b-#{$i} { margin-bottom: #{$i}px !important; }
}

.ta-center {
	text-align: center;
}

.bcolor-pl { background-color: $primary-light; }
.bcolor-p  { background-color: $primary; }
.bcolor-pd { background-color: $primary-dark; }
.bcolor-sl { background-color: $secondary-light; }
.bcolor-s  { background-color: $secondary; }
.bcolor-sd { background-color: $secondary-dark; }
