@import '_vars';
@import '_elevate';
@import '_navbar';
@import '_utils';
@import 'problem/_info.scss';
@import 'problem/_sidebar.scss';
@import 'vendor/circle.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 16px;
}

h1 {
	width: 100%;
	margin-top: 12px;
	text-align: center;
}

body {
	font-family: sans-serif;

	background: url(/static/imgs/grain_background.png);
	background-color: #111;
	background-repeat: repeat;
	color: white;
}

button, a.button {
	@include elevate(2px, rgba(0, 0, 0, 0.7));
	border: 1px solid $primary-dark;
	background-color: $primary-dark;
	color: white;

	font-size: 1rem;
	padding: .75rem;
	margin-bottom: 12px;
	display: inline-block;

	cursor: pointer;

	& + button, & + a.button {
		margin-left: 12px;
	}
}

input, textarea, select {
	border: none;
	background-color: #111;
	color: white;

	font-size: 1rem;
	display: inline-block;
	padding: .25rem;

	&::placeholder {
		color: #999;
	}
}

input[type="submit"] {
	cursor: pointer;
	background-color: $primary-dark;
}

form {
	input, textarea, select {
		z-index: 20;
		@include elevate(2px, rgba(0, 0, 0, 0.7));

		padding: .75rem;
		margin-bottom: 12px;
		width: 100%;
	}

	textarea {
		background-color: #111;
		height: 50vh;
	}

	label {
		z-index: 30;
		@include elevate(2px, rgba(0, 0, 0, 0.7));
		background-color: $primary-dark;
		width: 100%;
		line-height: 44px;

		display: inline-block;
		padding: 4px 12px 4px;
		margin-top: 12px;
	}
}

.error-list {
	@extend .content;

	ul li {
		@include elevate(2px, rgba(0, 0, 0, 0.5));

		list-style: none;
		background-color: $secondary-dark;
		padding: .5rem;
		margin-bottom: .5rem;

		&.success {
			background-color: $primary-dark;
		}
	}
}

.split {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.test-case {
	&:first-child {
		border-right: 2px solid $primary-dark;
	}

	outline: none;

	@include elevate(2px, rgba(0, 0, 0, 0.5));
	resize: none;
	border: none;

	height: 200px;
	padding: 8px;
	background-color: #111;
	color: $white;
}

.header-line {
	@include elevate(2px, rgba(0, 0, 0, 0.5));

	background-color: $primary-dark;
	padding: 4px 12px 4px;
	margin-top: 12px;
	display: inline-block;
	width: 100%;

	& > * {
		line-height: 44px;
		display: inline-block;
	}
}

.option-line {
	@extend .header-line;

	display: grid;
	grid-template-columns: 1fr 1fr;

	& > *:last-child {
		text-align: right;
	}
}

.button-list {
	& > * {
		margin: 0px 8px 0px;
		background-color: $primary;
		box-shadow: none;
		border: none;
		color: white;

		font-size: 1rem;
		line-height: 1.2rem;
		padding: 4px 12px 4px;
		display: inline-block;

		cursor: pointer;
	}
}

.sidebar-page-container {
	display: grid;
	grid-template-columns: minmax(250px, 1fr) 5fr;
}

#code-editor {
	position: relative;
	width: 100%;
	min-height: 24rem;
}